a, a:hover {
    text-decoration: none;
}
.bg-login-image {
    background-image: url(./assets/photo-dog-login.jpg);
    background-size: cover;
    background-position: center;
}
.bg-register-image {
    background-image: url(./assets/photo-dog-register.jpg);
    background-size: cover;
    background-position: center;
}
.bg-password-image {
    background-image: url(./assets/photo-dog-password.jpg);
    background-size: cover;
    background-position: center;    
}
.form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1rem 1rem;
}
.btn-user {
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
}
.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}
.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.custom-control-label-user {
    float: left;
}
.wrapper {
    display: flex;
}
.title-text {
    color: white;
}
.sidebar {
    text-decoration: none;
    height: 4rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    font-weight: 500;
    text-align: center;
}
.sidebar-divider {
    border-top: 1px solid white;
    opacity: 1;
}
.nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: white;
}
.nav-link.disabled {
    color: #858796;
    pointer-events: none;
    cursor: default;
}
.nav-item {
    padding: 0rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}